
.navbar-inverse {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  opacity: .8;
  z-index:2;
  background-color : #337ab7;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  float: none;
}

#taco, #good, #bad{
  padding-top: 50px;
}

#good .active{
  background-color: #89C9B6;
}

#bad .active{
  background-color: #F07A94;
}
.glyphicon {
  word-break: break-word;
}

